{% extends "base.html" %}


{% block title %}
Rockets!
{% endblock %}


{% block content %}
<h2>Welcome to Rockets!</h2><br>
Facing any problem in the university, tell everyone here.<br>
Change something by showing support to your idea, roll out an survey.<br>
Help others who are facing problems, react on others posts or poll in surveys.<br>
Someone from the system, want to solve all the problems, we have ranked problems.<br>
<br>
This is for the students of Shri Mata Vaishno Devi University. The students can signup using their univeristy's email ID.
{% endblock %}
