{% extends 'base.html' %}


{% block title %}
Login
{% endblock %}

{% block navbar %}
<ul class="nav navbar-nav">
    <li><a href="/">Home</a></li>
    <li><a href="/help">Help</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
    <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
    <li class="active"><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
</ul>
{% endblock %}


{% block content %}
<div class="container">
<h1> Welcome</h1>
   <p> you can log in here!</p>
   <h2>login</h2>
   <form method="post">
       {% csrf_token %}
       {{ form.as_p }}
       <button type="submit">login</button>
   </form>
</div>
{% endblock %}
